[Unit]
Description=FastAPI App (with venv)
After=network.target

[Service]
User=navpc24
WorkingDirectory=/home/navpc24/Desktop/variable_naming_service

# Call uvicorn from inside venv
ExecStart=/home/navpc24/Desktop/variable_naming_service/venv/bin/python \
    -m uvicorn app.main:app --host 0.0.0.0 --port 8000

Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
